:root{--primary-color-dark-blue-1: hsl(217, 28%, 15%);
--primary-color-dark-blue-2: hsl(218, 28%, 13%);
--primary-color-dark-blue-3: hsl(216, 53%, 9%);
--primary-color-dark-blue-4: hsl(219, 30%, 18%);}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Nunito&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
body{
    /* background-color: #394262 !important; */
    background-color: var(--primary-color-dark-blue-2) !important;
    /* font-family: 'Baloo Bhaijaan 2', cursive !important; */
    
    /* font-family: 'Source Sans Pro', sans-serif !important; */
    /* font-family: 'Nunito', sans-serif !important; */
    /* font-family: 'Neonderthaw', cursive !important; */
    /* font-family: 'Karla', sans-serif !important; */
    /* font-family: 'Balsamiq Sans', cursive !important; */
    font-family: 'IBM Plex Serif', serif;
}
/* background-color: var(--primary-color-dark-blue-4);
box-shadow: 2px 2px 20px 2px var(--primary-color-dark-blue-3); */
.nameBox{
    background-color: #39426247;
    color: #fff;
}
.author-post h4{
    font-size: xx-large;
    color: #fff;
}
.author-post{
    background-color: hsl(219deg 30% 18% / 49%);
    box-shadow: 2px 2px 20px 2px var(--primary-color-dark-blue-3); 
    /* background-color: #39426247; */
    color: #fff;
}
.caption{
    margin-top: 8rem !important;
}
.navbar-nav {
    display: flex;
    flex-direction: row !important;

}

.btns{
    /* background-color: rgb(116, 114, 113); */
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    outline: none;
    margin: 5px;
    transition: all 1s ease !important;
    font-weight: bold !important;
    border: 2px solid  transparent;
    box-shadow: 2px 2px 20px 2px var(--primary-color-dark-blue-3); 
   }
 .btns:hover, .btnss:hover{
  border: 2px solid  var(--primary-color-dark-blue-4);
  /* box-shadow: 0; */
 }
   .btnss{
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: larger;
    outline: none;
    transition: all 0.5s ease !important;
    border: 2px solid  transparent;
    box-shadow: 2px 2px 20px 2px var(--primary-color-dark-blue-3); 
   }
   .btns button{
       background-color: transparent;
       outline:none;
   }
   .newsfeed{
       font-size: larger;
       padding: 10px;
   }
   .box {
    background-color: var(--primary-color-dark-blue-4);
    box-shadow: 2px 2px 20px 2px var(--primary-color-dark-blue-3); 
       /* background-color: #2a2e46; */
    /* background-color: #151728; */
    border-radius: 4px;
    margin: auto;
   }
   .page-section{
       margin-top: 1rem !important;
       padding-top: 1.5rem;
   }

   .feedpost {
    border: 0px solid transparent;
    border-radius: 20px;
    background-color: #181d2f ;
}
.input{
    background-color: transparent;
    /* #272a3a: transparent; */
    border-bottom: 2px solid #fff;
    outline: none;
    margin-bottom: 10px;
}
select{
    font-size: 2rem !important;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    /* padding: 5px; */
}
option{
    background-color: #151728;
    color: #fff;
}
.status-menu {
    padding: 20px;
    display: flex;
    align-items: center;}
    .status-menu-item {
     text-decoration: none;
     color: #ccc8db;
     padding: 10px 14px;
     line-height: 0.7;
     font-family: "DM Sans", sans-serif;
     font-weight: 500;
     border-radius: 20px;}
     .status-menu-item.active,
     .status-menu-item:hover {
      background-color: #2e2e40;
      color: #fff;
     }
    
     .status-menu-item {
     margin-left: 10px;
    }
    @media screen and (max-width: 500px) {

     /* font-size: 14px; */
      .status-menu-item  {
      margin-left: 0;
     }
     .btns, .btnss{
        font-size: large;
     }
     .explorebox {
         height: 270px !important;
     }
     .explorebox img{
         height: 270px !important;
     }
    }
   
   

.status-img {
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 50%;
margin-right: 20px;

}

.status-main {
padding: 0 20px;
display: flex;
align-items: center;
border-bottom: 1px solid #272a3a;
/* padding-bottom: 20px; */
flex-wrap: wrap;
}

.status-textarea {
flex-grow: 1;
background-color: transparent;
/* border: none; */
resize: none;
margin-top: 15px;
color: #fff;
        max-width: calc(100% - 70px);}
 textarea::placeholder {
 color: #fff !important;
 font-size: 1.75rem !important;
 /* outline: none; */
}
textarea{
    /* border-color: transparent !important; */
    outline:none ;
    /* border-bottom: 2px solid #fff !important; */
    color: #fff !important;
    font-size: large !important;
}


.status-actions {
display: flex;
padding: 10px 20px;
}

.status-action {
text-decoration: none;
color: #ccc8db;
margin-right: 20px;
display: flex;
align-items: center;}
.status-action  svg {
 width: 16px;
 flex-shrink: 0;
 margin-right: 8px;
 color: #fff;
}
.status-action a{
    color: #fff !important;
}
.image-upload{
    font-size: 1.4rem;
}
@media screen and (max-width: 1320px) {
    .status-action{
 width: 16px;
 font-size: large;
 /* overflow: hidden; */
 /* color: transparent; */
 white-space: nowrap;
}

}
.status-share {
background-color: #1b86f9;
border: none;
color: #fff;
border-radius: 4px;
padding: 10px 20px;
margin-left: auto;
box-shadow: 0 0 5px #1b86f9;
cursor: pointer;
}

.album-detail {
    width: calc(100% - 110px);
   }
   
   .album-title span {
    color: #1771d6;
    cursor: pointer;
   }
   
   .album-date {
    font-size: 15px;
    color: #595c6c;
    margin-top: 4px;
   }
   
   .album-content {
    padding: 0 20px 20px;
   }
   
   .album-photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-top: 10px;
   }
   
   .album-photos {
    display: flex;
    margin-top: 20px;
    max-height: 30vh;
   }
   
   .album-photos > .album-photo {
    width: 50%;
   }
   
   .album-right {
    width: 50%;
    margin-left: 10px;
    line-height: 0;
    display: flex;
    flex-direction: column;}
    .album-right .album-photo {
     height: calc(50% - 10px);
    }
   
   
   .album-actions {
    padding: 0 20px 20px;
   }
   
   .album-action {
    margin-right: 20px;
    text-decoration: none;
    color: #a2a4b4;
    display: inline-flex;
    align-items: center; 
    font-weight: 600;}
    .album-action:hover {
     color: #fff;
    }
    .album-action svg {
     width: 16px;
     margin-right: 6px;
    }
   
   
   .account-button {
    border: 0;
    background: 0;
    color: #64677a;
    padding: 0;
    cursor: pointer;
    position: relative;
   }
   
   .account-button svg {
    width: 20px;
   }
   
   .account-button:not(.right-side-button) + .account-button:before {
    position: absolute;
    right: 0px;
    top: -2px;
    background-color: #1b86f8;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    content: "";
    border: 2px solid #151728;
   }
   
   .account-profile {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin: 0 10px;
   }
   
   .account-user {
    display: inline-flex;
    align-items: center;
    color: #64677a;
    font-weight: 600;}
    .account-user span {
     font-size: 10px;
     font-weight: normal;
    }
   
   
   .account {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #151728;
    z-index: 3;
    flex-shrink: 0;
   }

.status-main textarea::placeholder, .status-main textarea{
    font-size: larger;
}
.gallery .col-md-6{
    position: relative;
       
   }
   .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 93.5%;
    margin: auto;
    opacity: 0;
    transition: .3s ease;
    /* background-color: rgba(228, 216, 216, 0.233); */
  }
  .overlay svg{
      position: relative;
      top: 50%;
      left: 43%;
      color: rgb(219, 88, 88);
  }
  .gallery{
    position: relative;
  }
  .col-md-6:hover .overlay {
    opacity: 1;
    /* background-color: tomato; */
  }

  .links{
    font-size: 150%;
    font-weight: 450;
    padding: 15px 0;
}
.links .text-end{
    text-decoration: underline !important;
}
.explore-like{
    position: relative;
    top: 50%;
    left: 40%;
    color: red;
    transition: all 500ms;
}
/* .fade.not(.show) {
    opacity: 1 !important;
} */

.explorebox img{
    transition: all 500ms;
    border: 2px solid #f7f7f7;
    padding: 0;
    margin: 0;
    border-radius: 5px !important;
    /* transition: all 500ms;
    border: 3px solid white;
    padding: 0;
    margin: 0;
    border-radius:8px !important; */
}

.modal-backdrop{
    opacity: 0 !important;
}
.modal-backdrop{
    display: none !important;
}
.tabcontent {
    
    display: none;
    padding: 10px 20px;
    height: 100%;
}
.container-fluid .row>*{
    padding-left: 0;
    padding-right: 0;
}
.modal-body textarea{
    color: #000 !important;
}

.fade:not(.show) {
    padding-top: 10vw;
    opacity: 1 !important;
    background-color: transparent !important;
    /* padding: 0 !important; */
}
.modal-content{
    width: 130% !important;
}
form hr{
    color: #fff !important;
    height: 1.5px;
    opacity: 1 !important;
    margin: 0 20px 5px 20px;
}
@media (max-width:500px) {
    .newsfeed{
        font-size: larger;
        padding: 0px;
    }
    .tabcontent{
        padding: 10px 0px;
    }
    select{
        font-size: 1.25rem !important;
        padding: 5px;

        /* padding: 5px; */
    }
    .post-content .col-md-4{
        text-align: center;
    }
    .caption{
        margin-top: 1rem !important;
    }
    .container-fluid .row>*{
        padding-left: 0;
        padding-right: 0;
    }
    .user-profile .post-content .author-post img {
        width: 100px;
        height: 100px;
        /* border: 7px solid #fff; */
        margin-left: 10px;
    }
    .author-post h4 {
        font-size: x-large;
        color: #fff;
    }
    .box .kafe-btn-mint-small {
        font-family: 'Abhaya Libre', serif !important;
        font-size: 1.45rem;
    }
}